*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#bd{
    background-image: url("/assets/statics/vs.png");
    background-attachment: fixed;
    background-size: contain;
    position: relative;
    min-height: 700px; 
    background: #2b051e;
    font-family: 'Lobster Two', 'Poppins',  sans-serif;
    

}
.nav-item.lit{
    position: relative;
}
/* .nav-item.lit::b{
    content: '';
    width: 50%;
    height: 20%;
    background-color: rgb(13, 244, 5);
    position: absolute;
    z-index: 1;
    bottom : -10px;
    border-radius: 1px;
    display: none;
} */
/* .nav-item.lit.ac{
    background-color:rgb(13, 244, 5);
    border-radius: 2px;
} */
.show.act{
    width: 50%;
    height: 3px;
    background-color: rgb(13, 244, 5);
    position: absolute;
    z-index: 1;
    bottom : 0;
    left: 20%;
    border-radius: 1px;
    transition: all 2s ease-in-out;
}
/* .act{
    content: '';
    width: 50%;
    height: 20%;
    background-color: rgb(13, 244, 5);
    position: absolute;
    z-index: 1;
    bottom : -10px;
    border-radius: 1px;
} */
.nav-item.lit:hover.nav-item.lit::before{
    display: block;
}
#bt{
    border: solid #cf1c91;
    margin-left: 0;
    color: white;
    border-radius: 1rem;
}
#bt:hover{
    background-color: green;
    border: none;
}
.fa-solid{
    font-size: 2rem;
    color:white;
}
.fa-solid:hover{
    color:aqua;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rh{
    font-style: italic;
}
@keyframes anim {
    from{
        /* height:0; */
        transform: translateY(-100%) scale(0);
    }
    to{
        /* height:500px; */
        transform: translateY(0) scale(1);
    }
}
.sec1,.sec2,.sec3{
    width: 100%;
    height:550px;
    transform: translateY(0) scale(1);
    animation-name: anim;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    overflow: auto;
    font-family: 'Poppins';
    padding-bottom: 2.5rem;
}
#imag > img{
    filter: grayscale(100%);
    animation: changeColor 1s ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes changeColor {
    0%{filter: grayscale(0);}
    25%{filter: grayscale(25%);}
    50%{filter : grayscale(50%);}
    75%{filter: grayscale(75%);}
    100%{filter: grayscale(100%);}
}
.rt, .bt{
    color: white;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.rt h3{
    line-height: 3rem;
}
.rt h3 span{
    color: #cf1c91;
}

.abt-hd{
    display:flex;
    align-items: center;
    justify-content:center;
    padding:3rem 0;
    position:relative;
}
.bg-txt{
    font-size : 40px;
    font-weight : 600;
    z-index : -1;
    color :#a89aa8;
    text-transform : uppercase;
    opacity: 0.5;
    animation:changeDisp 1s ease-in-out;
    animation-iteration-count :infinite;
    
}
@keyframes changeDisp{
    0%{
        color :white;
    }
    25%{
        coloe:blue;
    }
    50%{
        color:yellow;
        
    }
    75%{
        color: purple;
    }
    100%{
        color : green;
    }
}
.sht-txt{
    position:absolute;
    font-size : 50px;
    color:#ff1593;
    font-weight:700;
}
.info-txt{
    padding-bottom : 15px;
    color : #ff1593;
    text-align : center;
    font-size : 40px;
    font-weight : 500;
}

/* .about{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.info-txt{
    padding-bottom : 15px;
    color : #ff1593;
    text-align : center;
    font-size : 40px;
    font-weight : 500;
}*/
#r p{
    text-align : justify;
    line-height : 2.5rem;
    font-size : 2rem;
    font-weight : 400;
    padding-bottom : 20px;
    color: white;
} 
#res, #novel{
    color: #cf1c91;
}
.edu{

     margin-top :10px; 
}
.prof{
    color : #ff1593;
    font-size :30px;
}
.prof > li{
    padding-top:15px;
}
.inst{
    margin-left : 15px;
    font-size : 25px;
    color : white;
}
.acad{
    font-size : 30px;
    padding-left : 20px;
    line-height : 40px;
}
ul{
    list-style: none;
}
.nav-item{
    font-size: 2rem;
    font-weight: 500;
}
.nav{
    transform: translateY(-10px);
}
  
.contain{
    width : 80%;
    border : solid 1px black;
    border-radius : 2px;
    display: flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    margin-top : 20px;
    padding: 0 20px;
}
.hdCont{
    width:100%;
    margin-bottom : 20px;
    display: flex;
    flex-direction :column;
}
.hd{
   display:flex;
   justify-content : space-between;
    width : 100%;
    border-radius : 2px;
    padding : 0 15px;
    margin-bottom : 10px;
}
.hd p{
    font-size : 30px;
    font-weight : 500;
    color : white;
}
.y, .g, .k{
    font-size:20px;
    margin-bottom:20px;
}

.pro{
    width :100%;
    height : 5px;
}
.prog-bar{
    width:0%;
    background : #ff1593;
    height : 5px;
    margin-bottom : 30px;
}

/*body{
    position: relative;
    background-color: brown;
}
label{
    padding: 0 10px;
    font-size: 1.5rem;
    color:  rgb(245, 33, 143);
    font-weight: 500;
}
p{
    background-color: rgba(240, 255, 255, 0.2);
    padding: 10px 10px;
    margin-left: 10px;
}
.cont{
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(245, 245, 220,  0.5);
}
form{
    padding: 10px 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    display: block;
    padding: 20px 20px;
    width: 50%;
    font-size: 1.5rem;
    background-color: none;
    border: none;
    border-radius: 10px;
}*/
