<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new page</title>
    <link rel="stylesheet" href="/assets/statics/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster Two&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/statics/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/8d8053aa7b.js" crossorigin="anonymous"></script>
    <script src="/assets/statics/jquery-3.7.0.js"></script>
    <script src="/assets/statics/js/bootstrap.min.js"></script>
</head>
<body id="bd">
    <!-- <div class="container-fluid bg-success">
        <h2>Hello world</h2>
    </div> -->
    <nav class="navbar navbar-expand-sm  navbar-dark sticky-top d-flex justify-content-between"
    style="background-color: black">
        <a href="#" class="navbar-brand  p-1">
            <img src="./vs.png" alt="logo" class="img-thumbnail  rounded-circle" style="width: 100%; height:60px; background-color: black;">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#c">
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="c" style="width: 100%;">
            <ul class="d-flex justify-content-around pl-2 nav" style="width:100%;">
                <li class="nav-item lit act">
                    <div class="show act"></div>
                    <a href="#menu1" class="nav-link active" data-toggle="pill" title="home">
                    <i class="fa-solid fa-house"></i>
                </a></li>
                <li class="nav-item lit">
                    <div class="show"></div>
                    <a href="#menu2" class="nav-link" data-toggle="pill" title="about">
                    <i class="fa-solid fa-user"></i>
                </a></li>
                <li class="nav-item lit">
                    <div class="show"></div>
                    <a href="#menu3" class="nav-link" data-toggle="pill" title="Portfolio">
                    <i class="fa-solid fa-briefcase"></i>
                </a></li>
                <li class="nav-item lit">
                    <div class="show"></div>
                    <a href="#" class="nav-link" data-toggle="pill" title="contact">
                    <i class="fa-solid fa-address-book"></i>
                </a></li>
            </ul>
        </div>
    </nav>
    <div class="tab-content">
        <header class="sec1 tab-pane my-3 active" id="menu1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-f1 pl-0 pr-0">
                        <div class="bg-success p-3 container-fluid d-flex justify-content-center align-items-center" 
                        style="height: 100%; width: 100%; border-radius: 1rem; ">
    
                        <div id="imag" class="d-flex justify-content-center" 
                        style="width: 100%; height: 100%; padding: 2rem; background-color: black;
                        border-radius: 1rem;">
                        <img src="./vs.png" alt="img" class="" style="width: 80%; height:90%;">
                   </div>
                    </div>
                    </div>
                    <div class="rt col-sm-6">
                        <h3>Hi, I'm <span>Matthias Sunday Oduh.</span> An Electrical and Electronics Engineer.</h3>
                  
                  <p> I'm a tech enthusiast: this fueled my passion for software engineering in addition to my knowledge in embedded systems.</p>
                     <a href="#" class="main-btn">
                        <!-- <span class="btn-txt">Download Cv</span> -->
                        <button class="btn" id="bt" title="download my CV">Download Cv 
                            <span class="ml-3 p-2 icon">
                                <i class="fas fa-download"></i></span></button>
                        
                    </a>
                </div>
                    </div>
                </div>
            <!-- <div class="header-cont">
                <div class="cont-left">
                   <div class="shape"></div>
                         <div id="imag">
                         <img src="img4.png" alt="img">
                    </div>
                </div>
                <div class="cont-right">
                  <h1>Hi, I'm <span>Matth<span></span>ias Sunday Oduh.</span> An Electrical and Electronics Engineer.</h1>
                  
                  <p> I'm a tech enthusiast: this fueled my passion for software engineering in addition to my knowledge in embedded systems.</p>
                <div class="btn">
                     <a href="#" class="main-btn">
                        <span class="btn-txt">Download Cv</span>
                        <span class="icon"><i class="fas fa-download"></i></span>
                    </a>
            
                </div> -->
                    <!-- <a href="#">
                           <span> Download Cv</span>
                                <span class="icon"><i class="fas fa-download"></i></span>
                            </a>
                </div>
            </div>-->
                </header>
        <!-- <div id="menu1" class=" sec1 tab-pane bg-light p-3  active">
            <h4>Heading One</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut hic et magni esse voluptatem 
                est minus dicta debitis tenetur vitae fugiat deserunt dolorum, 
                fuga asperiores eveniet facere doloremque eum? Quo.
            </p>
        </div>
     -->
        <!-- <div id="menu2" class=" sec2 tab-pane bg-success p-3">
            <h4>Heading two</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut hic et magni esse voluptatem 
                est minus dicta debitis tenetur vitae fugiat deserunt dolorum, 
                fuga asperiores eveniet facere doloremque eum? Quo.
            </p>
        </div> -->
        <!-- scetion2 begins -->
        <section id="menu2" class="sec2 tab-pane p-3">
            <div class="abt-hd">
                <h4 class="bg-txt">Short Biography</h4>
                <p class="sht-txt">About Me</p>
            </div>
            <div class="row">
                <div class="col-sm-6" id="r">
                    <h2 class="info-txt">Information about me</h2>
                    <p>
                        I am a native of Adupi-Orokam in Ogbadibo, 
                        LGA Benue State Nigeria. I am Idoma by tribe.  
                        I was born on the 9th of September, 1996 at 
                        Ipoba Ajebamibo, Idanre LGA, Ondo State. 
                        I speak and write in English language fluently. 
                        I can also converse little in Yoruba language. 
                    </p>
                    <p>
                         I studied Electrical and Electronics Engineering at FUAM and 
                         graduated with first class honour in 2020.
                          Check out my statement of results 
                          <a href="#" id="res" title="check out my statement of results ">here</a>
                    </p>
                    <p>
                        I am keen on making positive impacts in 
                        the society with the little resources at 
                        my disposal because I believe that is the essence of life. 
                        I am hardworking and daring. I welcome constructive criticism 
                        wholeheartedly without reservation. I mingle with like minds and 
                        always at alert to key into any opportunity that will make me a better me. 

                    </p>
                    <p>
                        Interestingly, I am a novelist, 
                        song writer, a die-hard Barcelona fan.
                         You can peruse through the manuscripts of 
                         my debut novel 
                         <a href="#" id="novel" title="read the novel">here</a>
                        <p>
                            Hobbies includes: reading, writing, 
                            watching and playing football and volleyball, 
                            singing and studying nature.

                        </p>

                    </p>
                </div>
                <!-- column1 of section2 ends -->
                <div class="col-sm-6 pl-3">
                    <ul class="nav nav-pill d-flex justify-content-between">
                        <li class="nav-item">
                            <a href="#edu" class="nav-link ed active" data-toggle="pill" title="my education">
                                <i class="fa-solid fa-graduation-cap mr-2" 
                                style="font-size: 1.5rem; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); color: #ff1593;"></i>Education</a>
                        </li>
                        <li class="nav-item">
                            <a href="#skills" class="nav-link ed" data-toggle="pill" title="my skills">
                                <i class="fa-solid fa-code mr-2"
                                style="font-size: 1.5rem; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);color: #ff1593;"></i>Skills</a>
                        </li>
                        <li class="nav-item">
                            <a href="#exp" class="nav-link ed" data-toggle="pill" title="my work experience">
                                <i class="fa-solid fa-briefcase mr-2"
                                style="font-size: 1.5rem; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); color: #ff1593;"></i>Work Experience</a>
                        </li>
                    </ul><!-- nav tabs for column2 ends -->
                        <div class="tab-content">
                            <!-- education pane begins -->
                            <div id ="edu" class=" tab-pane active">
                                <ul class="prof">
                                    <li>Institution Attended
             <ul class="inst">
                   <li>Federal university of Agriculture, Makurdi (2014-2020)
                   <ul class="acad">
                       <li>B.Eng Electrical and Electronics Engineering</li>
                       <li>Grade : First Class Honours (4.75/5.00)</li>
                   </ul></li>
                   <li>Crystal Safety and Training Resources, Portharcourt (2021)
                   <ul class="acad">
                       <li>Occupation, Health, Safety and Environment(OHSE 1, 2 and 3)</li>
                   </ul></li>
               </ul></li>
               
                     <li>Online Courses Completed
                     <ul class="inst">
                         <li>Cisco Networking Academy(Netacad)
                             <ul class="acad">
                                 <li>Introduction to Cyber security</li>
                             </ul>
                         </li>
                      <li>Yonsei University
                             <ul class="acad">
                                 <li>Introduction to TCP/IP</li>
                             </ul>
                         </li>
                        <li>Meta
                             <ul class="acad">
                                 <li>Introduction to Front End Development</li>
                             </ul>
                         </li>
                        <li>University of Buffalo
                             <ul class="acad">
                                 <li>Solar Energy Systems Overview</li>
                             </ul>
                         </li> 
                          <li>University of Michigan
                             <ul class="acad">
                                 <li>Programming for Everybody(getting started with Python)</li>
                             </ul>
                         </li>
                          <li>University of Michigan
                             <ul class="acad">
                                 <li>Programming for Everybody(Python Data Structures)</li>
                             </ul>
                         </li>
                          <li>LearnQuest
                             <ul class="acad">
                                 <li>Cloud Computing Basics(Cloud 101)</li>
                             </ul>
                         </li>
                          <li>Cisco Networking Academy(Netacad)
                             <ul class="acad">
                                 <li>Networking Devices and Initial Configuration</li>
                             </ul>
                         </li>
                          <li>Cisco Networking Academy(Netacad)
                             <ul class="acad">
                                 <li>Python Essentials 1</li>
                             </ul>
                         </li></ul></li>
                     
                     <li>Award and Honours</li></ul>
                            </div><!-- education pane ends, skills begin -->

                     <div id="skills" class="tab-pane">
                        <ul class="prof">
                <li><a href="" data-toggle="collapse" data-target="#sk" title="show soft skills"
                    style="text-decoration: none; color : #ff1593;">Soft Skills</a>
                <ul class="inst collapse" id="sk">
                    <li>Good human networking</li>
                    <li>Team Work</li>
                    <li>Good oral and written communication</li>
                    <li>Quick delivery of assignments</li></ul></li>
                     <li><a href="#hs" data-toggle="collapse" title="show hard skills"
                        style="text-decoration: none; color : #ff1593;">Hard Skills</a>
                <ul class="inst collapse" id="hs">
                    <li>Abilty to work under pressure</li>
                    <li>Daring</li>
                    <li>I meet deadlines</li>
                    <li>Quick grasping of novel ideas</li>
                    <li>Unquenchable zeal for improvement</li>
                    <li>Unsual ability to handle difficult and challenging tasks</li></ul></li>
                    <li><a href="#ps" data-toggle="collapse" title="show Programming skills"
                        style="text-decoration: none; color : #ff1593;" onclick="widthShow();">Programming Skills</a>
                    <div class="contain  collapse" id="ps">
            <div class="hdCont">
           <div class="hd">
               <p>HTML</p>
               <p class="done">0</p>
           </div>
            <div class="pro">
                <div class="prog-bar" dataval="80%"></div>
            </div>
            </div>
            <div class="hdCont">
            <div class="hd">
               <p>CSS</p>
               <p class="done">0</p>
           </div>
            <div class="pro">
                <div class="prog-bar" dataval="75%"></div>
            </div>
            </div>
            <div class="hdCont">
           <div class="hd">
               <p>JavaScript</p>
               <p class="done">0</p>
           </div>
            <div class="pro">
                <div class="prog-bar" dataval="60%"></div>
            </div> 
            </div>
                <div class="hdCont">
           <div class="hd">
               <p>Python</p>
               <p class="done">0</p>
           </div>
            <div class="pro">
                <div class="prog-bar" dataval="70%"></div>
            </div> 
            </div>
                <div class="hdCont">
           <div class="hd">
               <p>C</p>
               <p class="done">0</p>
           </div>
            <div class="pro">
                <div class="prog-bar" dataval="50%"></div>
            </div> 
            </div>
                <div class="hdCont">
           <div class="hd">
               <p>C++</p>
               <p class="done">0</p>
           </div>
            <div class="pro">
                <div class="prog-bar" dataval="35%"></div>
            </div> 
            </div>
               <div class="hdCont">
           <div class="hd">
               <p>Matlab</p>
               <p class="done">0</p>
           </div>
            <div class="pro">
                <div class="prog-bar" dataval="30%"></div>
            </div> 
            </div>
                <div class="hdCont">
           <div class="hd">
               <p>Linux Command</p>
               <p class="done">0</p>
           </div>
            <div class="pro">
                <div class="prog-bar" dataval="40%"></div>
            </div> 
            </div>
        </div>
                    </li>
                    </ul>
                         </div>
                     </div>
                        </div>
                </div>
        </section>
        <div id="menu3" class=" sec3 tab-pane bg-danger p-3">
            <h4 class="text-warning">Heading Three</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut hic et magni esse voluptatem 
                est minus dicta debitis tenetur vitae fugiat deserunt dolorum, 
                fuga asperiores eveniet facere doloremque eum? Quo.
            </p>
        </div>
    </div>

    <div class="container-fluid fixed-bottom d-flex align-items-center justify-content-center p-3"
    style="background-color: black;">
        <p class="text-white my-auto rh" >&copy;Matthias, <span id="f"></span></p></div>
    <script>
        $(document).ready(
            function()
            {
                $('[data-toggle="tooltip"]').tooltip();
            }
        );
        var date = new Date();
        document.getElementById("f").innerHTML=date.getFullYear();

        var nav = document.querySelectorAll(".lit")
        var div = document.querySelectorAll(".show")
        console.log(nav.length)
        for (let i=0; i< nav.length;i++)
        {
            nav[i].addEventListener("click", function(){
                /* console.log(nav[i].innerHTML) */
                for (let i=0; i<nav.length;i++)
                {
               /*  nav[i].classList.remove("act"); */
               div[i].classList.remove("act");
                } 
                div[i].classList.add("act");
            });
                 /* div[i].classList.add("act"); */
            /* nav[i].classList.add("nav-item.lit::before"); */
        }
        function widthShow()
        {
        const prog = document.querySelectorAll(".prog-bar")
        const num = document.querySelectorAll(".done")
        console.log(prog.length)
       
        for (let i=0; i<prog.length;i++)
        {
            let stat = 2000;
            let w = 0;
            let val = parseInt(prog[i].getAttribute("dataval").replace("%", ""))
            let mil = Math.round(stat/val);
            /* let j = val.indexOf('"'); */
            console.log(mil,val)
            let inter = setInterval(
                function()
                {
                    if (w==val)
                    {
                        clearInterval(inter)
                    }
                    else
                    {
                        w+=1;
                        prog[i].style.width = w + "%";
                        num[i].innerHTML = w + "%"
                        /* prog[i].innerHTML=""; */
                    }


                }
            , mil)
        }
    }
     /* widthShow(); */
    </script>
</body>
</html>